<div class="template-contacts">
  <span class="template-contacts__phone"><%=phone %></span>
  <span class="template-contacts__mail"><%=email %></span>
</div>
<style>
  .template-contacts {
    font-size: x-small;
  }
  .template-contacts span {
    display: block;
  }
  .template-contacts__mail {
    color: rgb(33, 150, 243);
    word-wrap: break-word;
  }
</style>
