<div class="template-education">
  <h3 class="template-education__header">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="14pt"
      height="14pt"
      viewBox="0 0 14 14"
      version="1.1"
    >
      <g id="surface1">
        <path
          style="
            stroke: none;
            fill-rule: nonzero;
            fill: rgb(0%, 0%, 0%);
            fill-opacity: 1;
          "
          d="M 2.84375 2.691406 L 4.460938 3.402344 C 4.140625 3.875 3.972656 4.421875 3.972656 4.992188 C 3.972656 6.554688 5.242188 7.835938 6.820312 7.835938 C 8.394531 7.835938 9.664062 6.566406 9.664062 4.992188 C 9.664062 4.433594 9.496094 3.875 9.1875 3.417969 L 10.613281 2.746094 L 10.613281 5.453125 L 10.179688 6.371094 C 10.152344 6.441406 10.152344 6.511719 10.191406 6.566406 C 10.234375 6.625 10.304688 6.664062 10.375 6.664062 L 11.195312 6.664062 C 11.265625 6.664062 11.335938 6.636719 11.363281 6.566406 C 11.40625 6.511719 11.40625 6.441406 11.378906 6.371094 L 11.003906 5.453125 L 11.003906 2.566406 C 11.003906 2.453125 10.988281 2.371094 10.792969 2.285156 C 10.75 2.273438 6.917969 0.570312 6.917969 0.570312 C 6.859375 0.542969 6.804688 0.542969 6.75 0.570312 L 2.84375 2.300781 C 2.773438 2.328125 2.71875 2.414062 2.71875 2.496094 C 2.71875 2.578125 2.761719 2.648438 2.84375 2.691406 Z M 9.230469 4.992188 C 9.230469 6.332031 8.144531 7.417969 6.804688 7.417969 C 5.464844 7.417969 4.378906 6.332031 4.378906 4.992188 C 4.378906 4.476562 4.546875 3.988281 4.839844 3.570312 L 6.734375 4.421875 C 6.761719 4.433594 6.789062 4.433594 6.820312 4.433594 C 6.847656 4.433594 6.875 4.433594 6.902344 4.421875 L 8.769531 3.582031 C 9.078125 4.003906 9.230469 4.488281 9.230469 4.992188 Z M 10.695312 6.246094 L 10.792969 6.039062 L 10.875 6.246094 Z M 6.832031 0.988281 L 10.222656 2.496094 L 6.832031 4.003906 L 3.445312 2.496094 Z M 6.832031 0.988281 "
        />
        <path
          style="
            stroke: none;
            fill-rule: nonzero;
            fill: rgb(0%, 0%, 0%);
            fill-opacity: 1;
          "
          d="M 6.886719 8.339844 C 4.167969 8.339844 1.953125 10.554688 1.953125 13.273438 C 1.953125 13.386719 2.050781 13.484375 2.160156 13.484375 L 11.617188 13.484375 C 11.726562 13.484375 11.824219 13.386719 11.824219 13.273438 C 11.824219 10.554688 9.609375 8.339844 6.886719 8.339844 Z M 2.382812 13.066406 C 2.496094 10.667969 4.476562 8.757812 6.902344 8.757812 C 9.328125 8.757812 11.292969 10.679688 11.40625 13.066406 Z M 2.382812 13.066406 "
        />
      </g>
    </svg>
    Education
  </h3>
</div>
<style>
  .template-education__header {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: medium;
  }
</style>
