<div class="template-employment">
  <h3 class="template-employment__header">Employment History</h3>
  <div class="template-employment_history"></div>
</div>
<style>
  .template-employment__header {
    margin-top: 24px;
    padding-left: 24px;
    font-size: medium;
    white-space: pre-wrap;
  }
  .template-employment_history {
    margin-bottom: 0;
  }
</style>
