<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <style>
      body {
        font-family: "Lato", "Helvetica", Helvetica, sans-serif;
        background: #aa9a96;
        color: pink;
        padding: 20px;
        letter-spacing: 1px;
      }
    </style>
  </head>
  <body>
    <%- include('content.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
