.resume-editor-page-sider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.resume-editor-page-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: rgb(122, 133, 153);
}

.resume-editor-page-sheet {
  position: relative;
  width: 640px;
  min-height: 900px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 4px;
  transform: scale(0.76) translateY(-60px);
}

.resume-editor-page-tools {
  position: absolute;
  height: 20px;
  top: calc(100% - 32px);
  left: 0px;
  width: 100%;
  text-align: center;
}
.resume-editor-page-link-to-templates {
  color: #fff;
}
.resume-editor-page-link-to-templates span {
  padding-left: 4px;
}
