.template-stockholm {
    padding: 24px 28px;
}

.template-stockholm .name {
    margin-bottom: 0;
    font-weight: 500;
}
.template-stockholm .position {
    margin-bottom: 0;
}
.template-stockholm .avatar {
    border-radius: 4px;
}
