.widget-input-text {
    background-color: rgb(242, 245, 250);
    outline: none;
    border: none;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid rgb(242, 245, 250);
}
.widget-input-text:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgb(33, 150, 243);
}
.widget-input-label {
    margin-left: 2px;
    font-size: 10px;
}
