.resume-editor-page-sider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.resume-editor-page-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
