.resume-editor-page-sider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.resume-editor-page-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: rgb(122, 133, 153);
}

.resume-editor-page-sheet {
  position: relative;
  width: 640px;
  min-height: 900px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 4px;
  transform: scale(0.76) translateY(-60px);
}
