.resume-editor {
  padding: 20px 60px;
  width: 100%;
}
.resume-editor-title {
  text-align: center;
}
.resume-editor-row {
  margin-top: 10px;
}
.resume-editor-section-header {
  margin: 20px 0px 10px 0px;
}
