.resume-editor {
  padding: 20px 60px;
  width: 100%;
}
.resume-editor-title {
  text-align: center;
}
.resume-editor__subtitle {
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
}
.resume-editor__row {
  margin-top: 10px;
}
