body {
  margin: 0;
  padding: 0;
}

.app {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #4f5259;
}

.app-switcher button {
  display: block;
  margin: 5px;
}

.text-centered {
  text-align: center;
}

.text-upper-case {
  text-transform: uppercase;
}
