.resume-editor-page {
  width: 100%;
  display: flex;
  height: auto;
}

.resume-editor-page__sider {
  position: relative;
  width: 720px;
  min-height: 100vh;
}

.resume-editor-page__content {
  position: fixed;
  top: 0px;
  left: 720px;
  width: calc(100% - 720px);
  height: 100vh;
  background-color: rgb(122, 133, 153);
}
.resume-editor-page__downloadbtn {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 60px);
}

.resume-editor-page__sheet {
  position: absolute;
  top: -40px;
  left: calc(50% - 310px);
  width: 620px;
  height: 877px;
  transform: scale(0.8);
  background-color: #fff;
}

.resume-editor-page-sheet-viewer {
  height: 877px;
}

.resume-editor-page-sheet .viewer {
  height: 100%;
}

.resume-editor-page__tools {
  position: absolute;
  left: calc(50% - 248px);
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 496px;
  margin: 6px 0px;
}

.resume-editor-page-link-to-templates {
  color: #fff;
}
.resume-editor-page-link-to-templates span {
  padding-left: 4px;
}
