.resume-editor-page {
  width: 100%;
  display: flex;
  height: auto;
}

.resume-editor-page-sider {
  position: relative;
  /* width: 50%;
	max-width: 960px; */
  width: 720px;
  background-color: #fff;
  min-height: 100vh;
  height: auto;
}

.resume-editor-page-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-width: calc(100% - 960px);
  min-height: 100vh;
  height: auto;
  flex: 1;
  background-color: rgb(122, 133, 153);
}

.resume-editor-page-sheet {
  /* scaled to 0.8 */
  /* 620 на 877 */
  position: fixed;
  top: -40px;
  left: calc(360px + 50% - 310px);

  width: 620px;
  height: 877px;
  transform: scale(0.8);

  background-color: #fff;
  border-radius: 4px;
}

.resume-editor-page-sheet-viewer {
  height: 877px;
}

.resume-editor-page-sheet .viewer {
  height: 100%;
}
.resume-editor-page-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 6px 0px;
}

.resume-editor-page-link-to-templates {
  color: #fff;
}
.resume-editor-page-link-to-templates span {
  padding-left: 4px;
}
