.widget-textarea {
  position: relative;
}
.widget-textarea-text ~ .widget-textarea-bar {
  position: absolute;
  left: calc(50% - 5px);
  bottom: -2px;
  width: 10px;
  height: 2px;
  background: rgb(33, 150, 243);
  content: "";
  visibility: hidden;
}
.widget-textarea-text:focus ~ .widget-textarea-bar {
  left: 0px;
  width: 100%;
  height: 1px;
  visibility: visible;
  transition: 0.3s ease-out;
}
.widget-textarea-text {
  background-color: rgb(242, 245, 250);
  outline: none;
  border: none;
  border-radius: 3px 3px 0px 0px;
  /* border-bottom: 1px solid rgb(242, 245, 250); */
}
.widget-textarea-text:focus {
  outline: none;
  box-shadow: none;
  /* border-bottom: 1px solid rgb(33, 150, 243); */
}
.widget-textarea-label {
  margin-left: 2px;
  font-size: 10px;
}
